.bookings {
  margin-top: 100px;
  /*dist da magin entre o topo*/
  padding-bottom: 50px;
  /*define as dimensoes do espaçamento INFERIOR*/
  padding: 0px 30px;
}

.booking__title {
  font-size: 1.4rem;
  /*tamanho da fonte*/
  color: #fff;
  margin-bottom: 2rem;
}

.filter__widget-wrapper {
  display: flex;
  /*para deixar os itens flexiveis*/
  align-items: center;
  column-gap: 1.5rem;
}

.filter__widget-01 select,
.filter__widget-02 select {
  border: none;
  /*para tirar borda*/
  padding: 7px 10px;
  /*define uma distância entre o conteudo de um elemento e suas bordas*/
  border-radius: 50px;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
  margin-bottom: 2rem;
  /*define a margin na parte inferior*/
}

.car__item {
  padding: 20px;
  /*define distancia entre conteudo e elemento*/
  border-radius: 5px;
  background: var(--primary-color);
}

.car__item-tile {
  display: flex;
  /*para deixar os elementos flexiveis para manipular os filhos*/
  align-items: center;
  /*para alinhar os itens ao centro*/
  justify-content: space-between;
  /*para deixar um item no inicio e outro no final*/
}

.car__item-tile h3 {
  font-size: 1.3rem;
  /*para definir tamanho da fonte*/
  color: var(--heading-color);
  font-weight: 400;
}

.car__item-tile span {
  font-size: 1.3rem;
  color: var(--small-text-color);
  cursor: pointer;
}

.car__item-top p {
  color: var(--small-text-color);
  font-size: 0.9rem;
  font-weight: 400;
}

.car__item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.car__bottom-left {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.car__bottom-left p {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: rgba(255, 255, 255, 0.825);
  font-weight: 300 !important;
}

.car__bottom-left p i {
  color: var(--secondary-color);
}

.car__rent {
  color: rgba(255, 255, 255, 0.825);
  font-size: 1.1rem;
}

.booking__car-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}